#root {
  max-width: 1280px
}

#mainGrid {
  min-width: 100vw;
  min-height: 100vh;
}


#navbarGridItem {
  background-color: red;
  min-height: 4rem;
}

#mainGridItem {
  background-color: green;
  min-height: 100vh;
  display: flex;
}

#sidebarGridItem {
  background-color: blue;
  min-width: 15vw;
}

#bodyGridItem {
  background-color: orange;
  width: 100%;
}
